
  <div class="row mt-4">
    <div class="col text-center">
      <img src="img/profile.jpeg" class="rounded-circle img-fluid z-depth-2 profile-picture" alt="Bramsurya Johannes Paulus"">
      <h1 class="display-1">Bramsurya Johannes Paulus</h1>
      <p class="lead">Frontend Developer</p>
    </div>
  </div>

  <style scoped>
    .profile-picture {
      width: 300px;
      height: 300px;
      object-fit: fill;
    }
  </style>