
<form method="POST" action="/contact">
  <h1 class="mt-3 mb-2">Add Contact Form</h1>

  <% if (typeof errors != 'undefined') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        <% errors.forEach(error => { %>
         <li><%= error.msg %> </li>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <!-- membuat variable value untuk menampilkan oldValue -->
  <% let value %> <% if (locals.params) { value = params %>
  <% } %>

  <div class="mb-3">
    <label for="inputName" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="inputName" value ="<%= value?.name %>" >
  </div>
  <div class="mb-3">
    <label for="inputPhoneNumber" class="form-label">Phone Number</label>
    <input name="phoneNumber" type="text" class="form-control" id="inputPhoneNumber" value ="<%= value?.phoneNumber %>" >
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input name="email" type="email" class="form-control" id="inputEmail" value ="<%= value?.email %>" >
  </div>
  <button type="submit" class="btn btn-success">Add Contact</button>
</form>

<style scoped>
  .btn-success:hover {
    border-color: #eee;
    background-color: #eee;
    color: #198754;
  }
</style>